body {
    padding-top: 56px;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:link{
    color:black;
}
  
  a:hover {
    color: rgb(71, 71, 34);
    background-color: transparent;
    text-decoration: underline;
  }

a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
    margin-right: 0;
}
.social-icons .social-icon:hover {
    background-color: rgb(71, 71, 34);
}

.dev-icons {
    font-size: 3rem;
  }
  
.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}